h1{
	font-size: 40px
	text-align: center;
	padding: 7px 10px 10px 10px
	border-width: 2px;
}



#money{
	text-align: right
}

th{
	text-transform: uppercase;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999
	font-size: 88%;
}

tr.odd{
	background-color: #efefef
}

th, td{
	padding: 7px 10px 10px 10px;
}
