<html>
	<head>
		<title> Brands </title>
		<script src = "..\static\bootstrap\js\jquery-3.2.0.min.js"></script>
		<script src="..\static\bootstrap\js\jquery.dataTables.min.js"></script>
		<!-- Bootstrap CSS Includes -->
		<link href="..\static\bootstrap\css\bootstrap.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- Bootstrap JavaScript Includes -->
		<script src = "..\static\bootstrap\js\bootstrap.js"></script>
		<script src="..\static\bootstrap\js\sorttable.js"></script>
		<!--<script>$(document).ready(function() {$('#example').DataTable();} );</script>-->
		<script>$(document).ready(function() {$('#example').DataTable( {"lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]} );} );</script>
		<link rel="stylesheet" type="text/css" href="..\static/css/brandcss.css"> 
	</head>
	<body>
		<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}"> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole')}}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
		<h1>Brands</h1>
		<table class="display" id="example">
			<thead>
				<tr>
					<th> Company Name </th>
					<th> Industry </th>
					<th>Location </th>
					<th> Stock Price</th>
					<th> Departments </th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd">
					<td> 
					<p class="name"> <a href= {{ url_for('apple') }}" style="text-decoration: none;"> <img src="../static/images/companyLogo/appleLogo.jpg" width="200" height="150" align="middle">  Apple</a> </p>  </td> 
					<td>Electronic Equipment</td> 
					<td>1 Infinite Loop <br> Cupertino, CA 95014 </td>
					<td id="money">$140.72</td> 
					<td> 
						<li>MAC</li> 
						<li>iPhone</li> 
						<li>iPad</li> 
					</td>
				</tr>

				<tr>
					<td> 
					<p class="name"> <a href={{ url_for('samsung') }} style="text-decoration: none;"><img src="../static/images/companyLogo/samsungLogo.jpg" width="200" height="150" align="middle">Samsung </p> </a> 
					</td>
					<td>Electronic Equipment</td> 
					<td>129 Samsung-RO <br> South Korea </td> 
					<td id="money"> $861.50 </td> 
					<td> 
						<li>Samsung Phones</li> 
						<li>TV</li> 
						<li>Laptops</li>
					</td>
				</tr>

				<tr class="odd">
					<td>
					<p class="name"><a href={{ url_for('hp') }} style="text-decoration: none;"> <img src="../static/images/companyLogo/HPLogo.jpg" width="200" height="150" align="middle"> HP </p> </a> </td>
					<td>Computer Hardware and Software</td> 
					<td>3000 Hanoverst <br>PaloAlto, CA 94304 </td>
					<td id="money">$22.64</td> 
					<td> 
						<li>Laptops</li> <li>Desktops</li> <li>Printers</li>
					 </td>
				</tr>

				<tr>
					<td> 
					<p class="name"> <a href={{ url_for('intel') }} style="text-decoration: none;"><img src="../static/images/companyLogo/intelLogo.jpg" width="200" height="150" align="middle">Intel </p> </a> 
					</td>
					<td>Semiconductor manufactring company</td> 
					<td>2200 Mission College Boulevard <br> Santan Clara, CA 95054</td> 
					<td id="money"> $65.86</td> 
					<td> 
						<li>Desktops</li> 
						<li>Tablets</li> 
						<li>Laptops</li>
					</td>
				</tr>

				<tr class="odd">
					<td>
					<p class="name"> <a href={{ url_for('lg') }} style="text-decoration: none;"> <img src="../static/images/companyLogo/lgLogo.jpg" width="200" height="150" align="middle">LG </p> </a> </td>
					<td>Consumer Electronics</td> 
					<td> Yeongdeungpo District <br>Seoul, South Korea </td>
					<td id="money">$13.62</td> 
					<td> 
						<li>Laptops</li> <li>Phones</li> <li>TV &amp HomeTheater</li>
					 </td>
				</tr>
				<!-- uncomment to add more companies
				<tr>
					<td> 
					<a href="../brand_pages/canon.html" style="text-decoration: none;"><img src="../images/companyLogo/canonLogo.jpg" width="200" height="150" align="middle"> Canon </a> 
					</td>
					<td>Business Equipment</td> 
					<td>30-2, Shimomaruko 3-chome <br> South Korea </td> 
					<td id="money"> $31.27 </td> 
					<td> 
						<li>Printers</li> 
						<li>Cameras</li> 
						<li>Binoculars</li>
					</td>
				</tr>

				<tr class="odd">
					<td>
					<a href="../brand_pages/sharp.html" style="text-decoration: none;"> <img src="../images/companyLogo/sharpLogo.jpg" width="200" height="150" align="middle">SHARP </a> </td>
					<td>Consumer electronics</td> 
					<td>1 Takumi-cho <br>Osaka, Japan </td>
					<td id="money">$4.19</td> 
					<td> 
						<li>TV</li> <li>Microwaves</li> <li>Home Audio</li>
					 </td>
				</tr>
				-->
				<tr>
					<td> 
					<p class="name"> <a href={{ url_for('microsoft') }} style="text-decoration: none;"><img src="../static/images/companyLogo/microsoftLogo.jpg" width="200" height="150" align="middle"> Microsoft </p> </a> 
					</td>
					<td>Business Software &amp Services</td> 
					<td>One Microsoft Way <br> Redmond, WA 98052 </td> 
					<td id="money"> $65.86 </td> 
					<td> 
						<li>Office</li> 
						<li>Surface</li> 
						<li>Xbox</li>
					</td>
				</tr>
			</tbody>
		</table>
  		</ul>
	</body>
</html>