<html>
	<head>
		<title> Categories </title>
		<script src = "..\static\bootstrap\js\jquery-3.2.0.min.js"></script>
		<script src="..\static\bootstrap\js\jquery.dataTables.min.js"></script>
		<!-- Bootstrap CSS Includes -->
		<link href="..\static\bootstrap\css\bootstrap.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- Bootstrap JavaScript Includes -->
		<script src = "..\static\bootstrap\js\bootstrap.js"></script>
		<script src="..\static\bootstrap\js\sorttable.js"></script>
		<!--<script>$(document).ready(function() {$('#example').DataTable();} );</script>-->
		<script>$(document).ready(function() {$('#example').DataTable( {"lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]} );} );</script>
		<script src="..\static\bootstrap\js\sorttable.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
				</div>
				<div class="navbar-collapse collapse" aria-expanded="false">
					<ul class="nav navbar-nav">
						<li> <a href={{ url_for('index') }}>Home</a> </li>
						<li> <a href={{ url_for('about') }}>About</a> </li>
						
						<li class="dropdown">
							<a href={{ url_for('brands') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
								<li> <a href={{ url_for('apple') }}>Apple</a> </li>
								<li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
								<li> <a href={{ url_for('hp') }}>HP</a> </li>
								<li> <a href={{ url_for('dellalienware') }}>Intel</a> </li>
								<li> <a href={{ url_for('lgg') }}>LG</a> </li>
								<li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
							</ul>
							</li>

							<li class="dropdown"> 
							<a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
								<li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
								<li> <a href={{ url_for('CellPhones') }}>Cell Phones</a> </li>
								<li> <a href={{ url_for('computertablets') }}>Computers</a> </li>
								<li> <a href={{ url_for('printer') }}>Printers</a> </li>
								<li> <a href={{ url_for('GamingConsole') }}>Gaming Consoles</a> </li>
								<li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
							</ul>
						</li>
						<li class="dropdown">
							<a href={{ url_for('products') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
							<!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
							<ul class="dropdown-menu">
								<li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
								<li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
								<li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
								<li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
								<li> <a href={{ url_for('hpenvy') }}>HP Envy</a> </li>
								<li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
								<li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="dataTables_wrapper form-inline dt-bootstrap">
			<table class="table table-striped table-bordered" id="example">
			<thead>
				<tr>
					<th>Category</th>
					<th> Type </th>
					<th>Accessories </th>
					<th> Popular Products</th>
					<th> Deals </th>
				</tr>
			</thead>	
			<tbody>
				<tr class="odd">
					<td> 
					<a href={{ url_for('TVHomeTheater') }}> TV &amp; Home Theater </a>
					</td> 
					<td>
						<ul> 
							<li>Smart TVs</li>
							<li>Curved TVs</li>
							<li>LED TVs</li>
						</ul>
					</td>
					<td>HDMI Cable</td>
					<td> <a href={{ url_for('samsungtv') }} style="text-decoration: none;">Samsung -LED TV 40"</a> </td>
					<td>Yes</td>
				</tr>

				<tr>
					<td><a href={{ url_for('CellPhones') }}> CellPhones </a> </td>
					<td>
						<ul> 
							<li>iPhone</li>
							<li>Samsung Galaxy</li>
						</ul>
					</td>
					<td>Cell Phone cases</td>
					<td><a href={{ url_for('iphone') }}>Apple - iPhone 7 Plus</a></td>
					<td>Yes</td>
				</tr>

				<tr class="odd">
					<td> <a href={{ url_for('computertablets') }}> Computers</a> </td>
					<td>
						<ul> 
							<li>Laptops</li>
							<li>Desktops</li>
						</ul>
					</td>
					<td> Mouse, Keyboards</td>

					<td><a href={{ url_for('dellalienware') }} style="text-decoration: none;"> Alienware 17</a></td>
					<td>No</td>
				</tr>


				<td> 
					<a href={{ url_for('printer') }}> Printers </a>
					</td> 
					<td>
						<ul> 
							<li>Laser Printer</li>
							<li>Inkjet Printer</li>
							<li>All-in-One Printer</li>
						</ul>
					</td>
					<td>Paper, Ink &amp Toner </td>
					<td> <a href={{ url_for('hpenvy') }} style="text-decoration: none;">HP - ENVY 7640 Wireless All-in-One Instant Ink Ready Printer - Black</a> </td>
					<td>Yes</td>
				</tr>

				<tr class="odd">
					<td><a href={{ url_for('GamingConsole') }}> Gaming Console </a> </td>
					<td>
						<ul> 
							<li>Xbox</li>
						</ul>
					</td>
					<td>Xbox games, Controllers</td>
					<td><a href={{ url_for('xboxones') }}>Xbox One S 2TB Console</a></td>
					<td>Yes</td>
				</tr>

				<tr>
					<td> <a href={{ url_for('tablets') }}>Tablets </a> </td>
					<td>
						<ul> 
							<li>Android</li>
							<li>Windows 10</li>
							<li>iOS</li>
						</ul>
					</td>
					<td> Case, Headphones</td>

					<td><a href={{ url_for('lgg') }} style="text-decoration: none;"> LG - G Pad - 7" - 8GB - Wi-Fi + 4G LTE Sprint - Black</a></td>
					<td>No</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div><a href={{ url_for('brands') }}>All Brands</a></div>
		<div><a href={{ url_for('products') }}>All Products</a></div>
	</body>
</html>