<!DOCTYPE html>
<html>
	<head>
        <title> HP </title>
        <script src = "../static/bootstrap\js\jquery-3.2.0.min.js"></script>
        <!-- Bootstrap CSS Includes -->
        <link href="../static/bootstrap\css\bootstrap.css" rel="stylesheet">
        <!-- Bootstrap JavaScript Includes -->
        <script src = "../static/bootstrap\js\bootstrap.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="css\splashcss.css">-->
        
    </head>

      <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole')}}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	<div><h1>HP</h1></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Logo_HP.PNG" style="width:204px;height:204px;">
    </div>
	<div> <h2>About</h2></div>
	<div id="texter">The Hewlett-Packard Company (commonly referred to as HP) or shortened to Hewlett-Packard (-lit -erd) was an American multinational information technology company headquartered in Palo Alto, California. It developed and provided a wide variety of hardware components as well as software and related services to consumers, small- and medium-sized businesses (SMBs) and large enterprises, including customers in the government, health and education sectors.</div>
    <div>
    <h3>Stock price:</h3>  HPQ (NYSE) $17.15 -0.41 (-2.33%)
        Mar 21, 4:02 PM EDT

    </div>
    <div>     
         <h3>Founded:</h3> January 1, 1939, Palo Alto, CA
    </div>
    <div>       
         <h3>Headquarters:</h3> Palo Alto, CA
    </div>
    <div>  
         <h3>Founders:</h3> David Packard, William Redington Hewlett
    </div>
    <div>           
         <h3><a href = {{ url_for('categories') }}>Products: </a></h3> Laptops, Printers, More
    </div>
    <div>       
         <h3>Subsidiaries:</h3> None
    </div>
    

