<!DOCTYPE html>
<html>
	<head>
        <title> LG </title>
        <script src = "../static/bootstrap\js\jquery-3.2.0.min.js"></script>
        <!-- Bootstrap CSS Includes -->
        <link href="../static/bootstrap\css\bootstrap.css" rel="stylesheet">
        <!-- Bootstrap JavaScript Includes -->
        <script src = "../static/bootstrap\js\bootstrap.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="css\splashcss.css">-->
        
    </head>
      <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}"> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole')}}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	<div><h1>LG</h1></div>
	<div><img src="..\images\companyLogo\lglogo.png" style="width:204px;height:204px;"></div>
	<div> <h2>About</h2></div>
	<div id="texter">LG Electronics produced South Korea's first radios, TVs, refrigerators, washing machines, and air conditioners. Gold Star was one of the LG groups with a brethren company, Lak-Hui (pronounced "Lucky") Chemical Industrial Corp. which is now LG Chem and LG Households. LG Electronics, Inc. (KSE: 066570.KS) is a global leader and technology innovator in consumer electronics, mobile communications and home appliances, employing 77,000 people working in 125 locations around the world. With 2015 global sales of USD 48.8 billion (KRW 56.5 trillion), LG comprises four business units ― Home Entertainment, Mobile Communications, Home Appliance & Air Solution, and Vehicle Components ― and is one of the world's leading producers of flat panel TVs, mobile devices, air conditioners, washing machines and refrigerators. LG Electronics is a 2016 ENERGY STAR Partner of the Year. 
</div>
    <div>
    <h3>Stock price:</h3>  066570 (KRX) ₩70,600 +3,400.00 (+5.06%)
Apr 6, 3:30 PM GMT+9

    </div>
    <div>     
         <h3>Founded:</h3> April 1, 1976, Cupertino, CA
    </div>
    <div>       
         <h3>Headquarters:</h3>  Seoul, South Korea
    </div>
    <div>  
         <h3>Founder:</h3> Koo In-Hwoi
    </div>
    <div>           
         <h3><a href = {{ url_for('categories') }}>Products: </a></h3> Mobile devices, Kitchen and home appliances, Home Entertainment, More.
    </div>
    <div>       
         <h3>Parent Organization:</h3> LG Corp 
    </div>
    