<!DOCTYPE html>
<html>
	<head>
		<head>
        <title> Microsoft </title>
        <script src = "../static/bootstrap\js\jquery-3.2.0.min.js"></script>
        <!-- Bootstrap CSS Includes -->
        <link href="../static/bootstrap\css\bootstrap.css" rel="stylesheet">
        <!-- Bootstrap JavaScript Includes -->
        <script src = "../static/bootstrap\js\bootstrap.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="css\splashcss.css">-->
        
    </head>
    <body>
      <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}"> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole')}}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	<div><h1>MICROSOFT</h1></div>
	<div><img src="..\images\companyLogo\microsoftlogo.png" style="width:204px;height:204px;"></div>
	<div> <h2>About</h2></div>
	<div id="texter">Microsoft Corporation, leading developer of personal-computer software systems and applications. The company also publishes books and multimedia titles, offers e-mail services, and sells electronic game systems, computer peripherals (input/output devices), and portable media players. It has sales offices throughout the world. In addition to its main research and development centre at its corporate headquarters in Redmond, Washington, U.S.</div>
    <div>
    <h3>Stock price:</h3>  MSFT (NASDAQ) $65.73 +0.17 (+0.26%)
Apr 6, 4:00 PM EDT

    </div>
    <div>     
         <h3>Founded:</h3>  April 4, 1975, Albuquerque, NM
    </div>
    <div>       
         <h3>Headquarters:</h3> Redmond, WA

    </div>
    <div>  
         <h3>Founders:</h3> Bill Gates, Paul Allen
    </div>
    <div>           
         <h3><a href = {{ url_for ('categories') }}>Products: </a></h3> OS/2,Midori, HomeOS, SIngularity, Windows 7, andMore.
    </div>
    <div>       
         <h3>Subsidiaries:</h3> Yammer, Mojang, Xamarin, StorSimple, More
    </div>
    
