<html>
	<head>
		<title> Products </title>
		<script src = "..\static\bootstrap\js\jquery-3.2.0.min.js"></script>
		<script src="..\static\bootstrap\js\jquery.dataTables.min.js"></script>
		<!-- Bootstrap CSS Includes -->
		<link href="..\static\bootstrap\css\bootstrap.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<!-- Bootstrap JavaScript Includes -->
		<script src = "..\static\bootstrap\js\bootstrap.js"></script>
		<script src="..\static\bootstrap\js\sorttable.js"></script>
		<!--<script>$(document).ready(function() {$('#example').DataTable();} );</script>-->
		<script>$(document).ready(function() {$('#example').DataTable( {"lengthMenu": [[3, 4, 5, -1], [3, 4, 5, "All"]]} );} );</script>
		<link rel="stylesheet" type="text/css" href="../static/css/brandcss.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole') }}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

		<h1>Products</h1>

		<div class="dataTables_wrapper form-inline dt-bootstrap">
			<table class="table table-striped table-bordered" id="example">
			<thead>
				<tr>
					<th>Product</th>
					<th> Average Customer Rating </th>
					<th>Price </th>
					<th> Features</th>
					<th> Store Pickup Address </th>
				</tr>
			</thead>	
			<tbody>
			<tr class="odd">
				<td> <a href={{ url_for('samsungtv') }}> Samsung LED TV </a> </td> <td>4.7 (756 Reviews)</td>
				<td>$379.99</td> 
				<td>
					<ul>
						<li>1080 Resolution</li>
						<li>Smart TV</li>
					</ul>
				</td>
				<td>129 Samsung-RO</td>
			</tr>

			<tr>
				<td> <a href={{ url_for('dellalienware') }}> Alienware </a> </td> <td>4.7 (188 Reviews)</td>
				<td>$699.99 <br>On SALE</td> 
				<td>
					<ul>
						<li>1TB Storage</li>
						<li>3.8GHZ</li>
					</ul>
				</td>
				<td>2200 Mission College Boulevard</td>
			</tr>

			</tr>
			<tr class="odd">
				<td> <a href={{ url_for('xboxones') }}> XBOX One<br> </a> </td> 
				<td>4.9 (217 Reviews)</td>
				<td>$349.99</td> 
				<td>
					<ul>
						<li>2TB Console</li>
						<li>4k Ultra HD Blu-ray</li>
					</ul>
				</td>
				<td>One Microsoft Way</td>
			</tr>
			
			<tr>
				<td> <a href={{ url_for('iphone') }}> Iphone 7 Plus </a> </td> <td>5.0 (19 Reviews)</td>
				<td>$799.99 <br>On SALE</td> 
				<td>
					<ul>
						<li>5.5-inch Retina HD display</li>
						<li>A10 Fusion chip with 64-bit architecture</li>
					</ul>
				</td>
				<td>1 Infinite Loop</td>
			</tr>

			<tr class="odd">
				<td> <a href={{ url_for('hpenvy') }}> HP Envy Printer </a> </td> 
				<td>4.6 (4656 Reviews)</td>
				<td>$59.99</td> 
				<td>
					<ul>
						<li>3-in-one functionality</li>
						<li>WIFI</li>
					</ul>
				</td>
				<td>3000 Hanoverst</td>
			</tr>

			<tr>
				<td> <a href={{ url_for('lgg') }}> LG G-Pad </a> </td> 
				<td>4.6 (4656 Reviews)</td>
				<td>$349.99</td> 
				<td>
					<ul>
						<li>Android 6.0.1 Marshmallow</li>
						<li>GPS Receiver</li>
					</ul>
				</td>
				<td>Yeongdeungpo District</td>
			</tr>

			</tr>
		</table>
		<div><a href={{ url_for('brands') }}>All Brands</a></div>
		<div><a href={{ url_for('categories') }}>All Categories</a></div>

	</body>

</html>