<html>
	<head>
		<title> TV & Home Theater </title>
		<script src = "..\static\bootstrap\js\jquery-3.2.0.min.js"></script>
		<!-- Bootstrap CSS Includes -->
		<link href="..\static\bootstrap\css\bootstrap.css" rel="stylesheet">
		<!-- Bootstrap JavaScript Includes -->
		<script src = "..\static\bootstrap\js\bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="..\css\brandcss.css">
		<script src="..\static\bootstrap\js\sorttable.js"></script>
	</head>
	<body>
		
			<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{ url_for('index') }}>ScoreDeal</a>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li> <a href={{ url_for('index') }}>Home</a> </li>
                        <li> <a href={{ url_for('about') }}> About</a> </li>
                        <li class="dropdown">
                            <a href={{ url_for('brands') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('brands') }}>All Brands</a> </li><hr>
                                <li> <a href={{ url_for('apple') }}>Apple</a> </li>
                                <li> <a href={{ url_for('samsung') }}>Samsung</a> </li>
                                <li> <a href={{ url_for('hp') }}>HP</a> </li>
                                <li> <a href={{ url_for('intel') }}>Intel</a> </li>
                                <li> <a href={{ url_for('lg') }}>LG</a> </li>
                                <li> <a href={{ url_for('microsoft') }}>Microsoft</a> </li>
                            </ul>
                            </li>

                            <li class="dropdown"> 
                            <a href={{ url_for('categories') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('categories') }}>All Categories</a> </li><hr>
                                <li> <a href={{ url_for('TVHomeTheater') }}>TVs</a> </li>
                                <li> <a href={{ url_for('CellPhones') }}> Cell Phones</a> </li>
                                <li> <a href={{ url_for('computertablets') }}> Computers</a> </li>
                                <li> <a href={{ url_for('printer') }}> Printers</a> </li>
                                <li> <a href={{ url_for('GamingConsole')}}> Gaming Consoles</a> </li>
                                <li> <a href={{ url_for('tablets') }}>Tablets</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href={{ url_for('products') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products<span class="caret"></span></a>
                            <!-- <a href="..\pillars_pages\products.html">Products</a> </li> -->
                            <ul class="dropdown-menu">
                                <li> <a href={{ url_for('products') }}>All Products</a> </li><hr>
                                <li> <a href={{ url_for('iphone') }}>iPhone 7</a> </li>
                                <li> <a href={{ url_for('samsungtv') }}>Samsung TV</a> </li>
                                <li> <a href={{ url_for('dellalienware') }}>Intel Laptop</a> </li>
                                <li> <a href={{ url_for('hpenvy') }} >HP Envy</a> </li>
                                <li> <a href={{ url_for('lgg') }}>LG G Pad</a> </li>
                                <li> <a href={{ url_for('xboxones') }}>Xbox One S</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

		<h1> TV & Home Theater </h1>
		<hr/>
                <div>
		  <h3> Smart TV </h3>
		  <h4> 
		  	<a href={{ url_for('samsung') }}> Samsung</a>
		  	UN43J5200 43-inch 1080p Smart LED TV (2015) </h4>	
		  <img src="../static/images/product_images/samsung/samsung_jf200.jpeg.png">
		  <p> 40" Class - LED - 1080p - Smart - HDTV<br>
                      2 HDMI inputs<br> 
		      Built in Wi-Fi<br> 
                  <p>
		  
		<hr/>
		<h3> Curved TV </h3>
		<h4> 
			<a href={{ url_for('samsung') }}> Samsung</a>
			KS9800 Series </h4>
		<img src ="../static/images/product_images/samsung/samsung-tv-suhd-ks9000-kv-main-left-perspective.jpeg.png">
		<p>Samsung 3D Wi-Fi 4K Ultra HD Blu-ray Disc Player<br>
		   SUHD Picture Quality<br>
		   Immersive Curved Design<br>
                </p>
    </body>
</html>
